

  <style media="screen">
  

    
    .feed_box {
      position: relative;
      width: auto;
      height: auto;
      padding: 0px;
      background: #FFFFFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: #7F7F7F solid 2px;
    }

    .feed_box:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 8px 30px 8px 0;
      border-color: transparent #FFFFFF;
      display: block;
      width: 0;
      z-index: 1;
      left: -27px;
      top: 12px;
    }

    .feed_box:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 8px 30px 8px 0;
      border-color: transparent #7F7F7F;
      display: block;
      width: 0;
      z-index: 0;
      left: -27px;
      top: 9px;
    }
    /*status update bar*/

    .facebook-share-box {
      width: 100%;
    }

    .facebook-share-box .share {
      -webkit-transition: 0.1s ease-out height;
      -moz-transition: 0.1s ease-out height;
      -ms-transition: 0.1s ease-out height;
      -o-transition: 0.1s ease-out height;
      transition: 0.1s ease-out height;
      clear: both;
      background: white;
      border: 2px solid #dddddd;
      margin-bottom: 10px;
      position: relative;
    }

    .facebook-share-box .share .arrow {
      background: url(arrow.png) no-repeat #dddddd;
      position: absolute;
      width: 14px;
      height: 10px;
      left: 4px;
      display: inline;
      top: -10px;
      -webkit-transition: 0.3s ease-out all;
      -moz-transition: 0.3s ease-out all;
      -ms-transition: 0.3s ease-out all;
      -o-transition: 0.3s ease-out all;
      transition: 0.3s ease-out all;
    }

    .facebook-share-box .post-types li a {
      color: #085083;
      text-decoration: none;
    }

    .facebook-share-box .post-types li a.active {
      color: #404040;
    }

    .facebook-share-box .post-types {
      padding-left: 5px;
    }

    .facebook-share-box ul {
      list-style: none;
      margin-bottom: 9px;
    }

    .facebook-share-box .post-types li {
      display: inline;
      margin-right: 10px;
    }

    .message {
      border-radius: 0;
      border: none;
    }

    .panel {
      border-radius: 0;
      border: none;
      margin-bottom: 0;
    }

    .privacy-dropdown {
      width: 100px;
    }


  </style>
